body {
    font-family: 'Roboto', sans-serif;
}

.main-block {
    width: 300px;
    height: 150px;
<<<<<<< HEAD
    background-color: #20d9a8;
=======
    background-color: whitesmoke;
>>>>>>> 2aa51ef846ee636ca7ac38e925c9c5bffe8d1931
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}

.main-block-message {
<<<<<<< HEAD
    font-size: 23px;
    color: white;
=======
    font-size: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    width: 100px;
    height^ 100p[;
>>>>>>> 2aa51ef846ee636ca7ac38e925c9c5bffe8d1931
}
